<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JokeAPI</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
        <h1>JokeAPI</h1>
        <div class="joke-container">
            <div class="joke">
                <h2>Category: <span id="category"></span></h2>
                <p id="joke"></p>
            </div>
            <button id="get-joke">Get Joke</button>
        </div>
    </div>
</body>

</html>