<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JokeAPI</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <div class="container">
        <h1>JokeAPI</h1>
        <div class="joke-container">
            <form action="/getJoke" method="POST">
                <div>
                    <p>Category: </p>
                    <input type="radio" onclick="toggleCat()" name="category" value="any" id="any">
                    <label for="any">Any</label>
                </div>
                <div>
                    <input type="radio" onclick="toggleCat()" name="category" value="misc" id="misc">
                    <label for="misc">Miscellaneous</label>
                    <div id="Misc-Opt" style="display:none;">
                        <input type="checkbox" value="Programming" name="misc[]">
                        <label for="Programming">Programming</label>
                        <input type="checkbox" value="Dark" name="misc[]">
                        <label for="Dark">Dark</label>
                        <input type="checkbox" value="Pun" name="misc[]">
                        <label for="Pun">Pun</label>
                        <input type="checkbox" value="Spooky" name="misc[]">
                        <label for="Spooky">Spooky</label>
                        <input type="checkbox" value="Christmas" name="misc[]">
                        <label for="Christmas">Christmas</label>
                    </div>
                </div>
                <button id="get-joke" type="submit">Joke</button>
            </form>

            <div class="joke">
                <p id="joke-text">
                    <%= joke %>
                </p>
            </div>
        </div>
    </div>

    <script src="/script.js"></script>
</body>

</html>